.timer( (click)="pauseResume$.next(true)" ) {{seconds$|async}}

//- three-orbit-controls
three-renderer( #mainRenderer )

  three-perspective-camera( [fov]=60, [near]=1, [far]=1100, positionX=5 positionY=5, positionZ=-10, #gameCamera='threePerspectiveCamera' )

  three-scene

    three-axes-helper( size=5 )
    three-grid-helper( size=128, divisions=64 )

    three-ambient-light( color='#000000' )

    three-point-light( color='#FFFFFF', position=' 0, 50, 20 ' )
    three-point-light( color='#FFFFFF', position=' 70, 30, 50 ' )
    three-point-light( color='#FFFFFF', position=' 50, 100, -30 ' )

    game-snake( [speed]='snakeSpeed', [length]='snakeLength', [size]='snakeSize', [renderer]='childRenderer',
      [(position)]='snakePosition', [eatenApples]='eatenApples', [camera]='gameCamera', [loop$]='loop$',
      [(position$)]='snakePosition$',
      [(apple$)]='apple$' )
    game-apple( [position]='applePosition$|async' )


