:host
{
  user-select: none;
}
.timer
{
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #00000066;
  color: #FFFF00;
  padding: 1rem;
  font-size: 3rem;
  line-height: 5rem;
  text-align: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
