.timer( (click)="pauseResume$.next(true)" ) {{seconds$|async}}

//- three-orbit-controls
three-renderer

  three-perspective-camera( [fov]=60, [near]=1, [far]=1100, positionX=5 positionY=5, positionZ=-10, #gameCamera='threePerspectiveCamera' )

  three-scene

    three-axes-helper( size=5 )
    three-grid-helper( size=100, divisions=100 )

    three-ambient-light( color='#000000' )

    three-point-light( color='#FFFFFF', position=' 0, 50, 20 ' )
    three-point-light( color='#FFFFFF', position=' 70, 30, 50 ' )
    three-point-light( color='#FFFFFF', position=' 50, 100, -30 ' )

    game-box( [width]=' snakeSize * 19 ', [height]=' snakeSize * 19 ', [depth]=' snakeSize * 19 ' )

    game-snake(
      [speed]='snakeSpeed',
      [length]='snakeLength',
      [size]='snakeSize',
      [(position$)]='snakePosition$',
      [loop$]='loop$',
      [camera]='gameCamera',
      [(apple$)]='apple$' )

    game-apple( [position]='applePosition$|async', [size]='snakeSize * .625' )
