.timer {{seconds$|async}}

//- three-orbit-controls
three-renderer( #mainRenderer )

  three-perspective-camera( [fov]=60, [near]=1, [far]=1100, positionX=5 positionY=5, positionZ=-10, #gameCamera="threePerspectiveCamera" )
  
  three-scene
    
    three-axes-helper( size=64 )
    three-grid-helper( size=128, divisions=128 )

    three-ambient-light( color='#000000' )

    three-point-light( color='#FFFFFF', position=' 0, 50, 20 ' )
    three-point-light( color='#FFFFFF', position=' 70, 30, 50 ' )
    three-point-light( color='#FFFFFF', position=' 50, 100, -30 ' )

    //- three-mesh
      three-box-buffer-geometry( widthSegments=32, heightSegments=32 )
      game-box-material

    game-snake( speed=1000, length=5, size=2, [(position)]="snakePosition", [camera]="gameCamera", [(snake$)]="snakeBehavior$" )

    //- three-group
      three-mesh( *ngFor=" let segment of snakeSegments; first as f ", [position]="segment" )
        three-box-buffer-geometry( [width]='cubeSize * .75', [height]='cubeSize * .75', [depth]='cubeSize * .75' )
        three-mesh-lambert-material( [color]=" f ? '#FF0000' : '#0000FF' " )

      
