//- three-mesh( *ngFor=" let segment of segments; first as f ", [position]="segment" )
  three-box-buffer-geometry( [width]='size * .75', [height]='size * .75', [depth]='size * .75' )
  three-mesh-lambert-material( [color]=" f ? '#FF0000' : '#0000FF' " )
game-snake-segment( *ngFor=" let segment of segments; first as f ",
  [position]="segment",
  [speed]="speed",
  [size]="size",
  [loop$]="subLoop$",
  [direction$]="direction$.asObservable()",
  [renderer]="renderer" )
