ng-template( ngFor, let-segment, [ngForOf]="segmentPositions", let-i="index", let-isFirst="first" )
  game-snake-segment(
    [speed]="speed",
    [size]="size",
    (rotation$)="isFirst ? updateCamera($event) : void()",
    [renderer]="renderer",
    [index]="i",
    [(loop$)]="cubeLoops[i]" )
