game-snake-segment( *ngFor=" let segment of segments; first as f; index as i; trackBy: trackByFn ",
  [position]="segment",
  [speed]="speed",
  [size]="size",
  [loop$]="loop4Segment(i)",
  [renderer]="renderer",
  (rotation$)="f ? updateCamera($event) : void()",
  [index]="i" )
  | {{log(segment)}}
